* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: cornsilk;
}

h1 {
    text-align: center;
    font-size: 50px;
}

#nav-bar li {
    display: inline;
    position: relative;
    left: 430px;
    font-size: 20px;
    margin: 10px;
}

#nav-bar li a:hover {
    color: brown;
    background-color: #fff;
}

#to-top {
    position: relative;
    left: 700px;
}

#info {
    text-align: center;
    margin-bottom: 1px;
}

header {
    border: 2px solid blue;
}

footer {
    border: 1px solid darkblue;
    padding-bottom: 15px;
}

main p {
    font-size: 15px;
    line-height: 20px;
}

video {
    position: relative;
    left: 400px;
    margin: 20px;
}

main div.sample-story {
    /* border-bottom: 35px solid black; */
    border-bottom: 3px dashed wheat;
}

#author {
    font-size: 60px;
    font-weight: 900;
    font-style: italic;
    color: orange;
}
